{% extends "main/base.html" %} {% load static %} {% block title %}standard grid
Pallets | Plastic Pallets SA{% endblock %} {% block content %}

<!-- HERO BANNER -->
<section
  class="hero text-light text-center py-5"
  style="
    background: url('{% static 'main/images/warehouse-hero.jpg' %}') no-repeat
      center center / cover;
    position: relative;
  "
>
  <div
    style="
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.6);
      z-index: 1;
    "
  ></div>
  <div class="container" style="position: relative; z-index: 2">
    <h1 class="display-4">light duty grid pallet</h1>
    <p class="lead">Up to 4T Dynamic • Lightweight • Ideal for Pharmacutical and food industry Use</p>
    <a href="{% url 'products' %}" class="btn btn-secondary btn-lg w-100"
      >← Back to Products</a
    >
  </div>
</section>

<!-- PALLETS GRID -->
<section class="py-5">
  <div class="container">
    <div class="row g-4">
      <!-- 1. La1000x800x150 1 -->
      <div class="col-md-4">
        <div class="card border-0 shadow-sm h-100 hover-lift transition">
         <img
            src="{% static 'main/images/light-grid/e1200x1000x150.jpg' %}"
            alt="Light duty1"
            class="card-img-top"
            style="height: 280px; object-fit: cover"            
            class="card-body"
          />
         <h5 class="card-title">
            Size ------ 1200 mm x 1000 mm x 120 mm ------ 
          </h5> 
          <h5 class="card-title">Reinforced : None, Rackable, Stackable</h5>     
            <div class="card-body">
            <h5 class="card-title">light duty grid</h5>
            <img
              src="{% static 'main/images/light-grid/2t-capacity-chart.jpg' %}"
              alt="Load Capacity Chart for Grid 2t"
              class="img-fluid w-100 mt-1"
              style="max-height: 80px; object-fit: contain"
            />
            <a
              href="https://wa.me/27713290606?text=Hi%20Plastic%20Pallets%20SA%2C%20I'm%20interested%20in%20the%20Light%20Grid%201."
              target="_blank"
              class="btn btn-success btn-lg w-100"
            >
              <i class="fab fa-whatsapp me-1"></i> Get Quote
            </a>
          </div>
        </div>
      </div>

      <!-- 2. Light Flat 1 -->
      <div class="col-md-4">
        <div class="card border-0 shadow-sm h-100 hover-lift transition">
          <img
            src="{% static 'main/images/light-grid/b1100x1100x150.jpg' %}"
            alt="Light duty1"
            class="card-img-top"
            style="height: 280px; object-fit: cover"            
            class="card-body"
          />
          <h5 class="card-title">
            Size ------ 1100 mm x 1100 mm x 120 mm ------ 
          </h5>
          <h5 class="card-title">Reinforced: None:  Rackable, Stackable</h5>
          <div class="card-body">
            <h5 class="card-title">light duty grid</h5>
            <img
              src="{% static 'main/images/light-grid/2t-capacity-chart.jpg' %}"
              alt="Load Capacity Chart for Grid 4t"
              class="img-fluid w-100 mt-1"
              style="max-height: 80px; object-fit: contain"
            />
            <a
              href="https://wa.me/27713290606?text=Hi%20Plastic%20Pallets%20SA%2C%20I'm%20interested%20in%20the%20Light%20Flat%201."
              target="_blank"
              class="btn btn-success btn-lg w-100"
            >
              <i class="fab fa-whatsapp me-1"></i> Get Quote
            </a>
          </div>
        </div>
      </div>

      <!-- 3. Light Grid 2 -->
       <div class="col-md-4">
        <div class="card border-0 shadow-sm h-100 hover-lift transition">
          <img
            src="{% static 'main/images/light-grid/C1200X800X13.5.jpg' %}"
            alt="Light duty1"
            class="card-img-top"
            style="height: 280px; object-fit: cover"          
            class="card-body"
          />
          <h5 class="card-title">
            Size ------ 1200 mm x 800 mm x 135 mm ------ 
          </h5>
          <h5 class="card-title">Reinforced: 3 Bars; Rackable, Stackable</h5>
          <div class="card-body">
            <h5 class="card-title">light duty grid</h5>
            <img
              src="{% static 'main/images/light-grid/4t-capacity-chart.jpg' %}"
              alt="Load Capacity Chart for Grid 4t"
              class="img-fluid w-100 mt-1"
              style="max-height: 80px; object-fit: contain"
            />
            <a
              href="https://wa.me/27713290606?text=Hi%20Plastic%20Pallets%20SA%2C%20I'm%20interested%20in%20the%20Light%20Grid%202."
              target="_blank"
              class="btn btn-success btn-lg w-100"
            >
              <i class="fab fa-whatsapp me-1"></i> Get Quote
            </a>
          </div>
        </div>
      </div>

      <!-- 4. Light Flat 2 -->
      <div class="col-md-4">
        <div class="card border-0 shadow-sm h-100 hover-lift transition">
         <img
            src="{% static 'main/images/light-grid/d1000x1000x150.jpg' %}"
            alt="Light duty1"
            class="card-img-top"
            style="height: 280px; object-fit: cover"            
            class="card-body"
          />
          <h5 class="card-title">
            Size ------ 1000 mm x 1000 mm x 150 mm ------ 
          </h5>
          <h5 class="card-title">Reinforced: 4 Bars: Ground use only</h5>
          <div class="card-body">
            <h5 class="card-title">light duty grid</h5>
            <img
              src="{% static 'main/images/light-grid/4t-capacity-chart.jpg' %}"
              alt="Load Capacity Chart for Grid 4t"
              class="img-fluid w-100 mt-1"
              style="max-height: 80px; object-fit: contain"
            />
            <a
              href="https://wa.me/27713290606?text=Hi%20Plastic%20Pallets%20SA%2C%20I'm%20interested%20in%20the%20Light%20Grid%201."
              target="_blank"
              class="btn btn-success btn-lg w-100"
            >
              <i class="fab fa-whatsapp me-1"></i> Get Quote
            </a>
          </div>
        </div>
      </div> 
      <!-- 5. Light Grid 3 -->
      <div class="col-md-4">
        <div class="card border-0 shadow-sm h-100 hover-lift transition">
         <img
            src="{% static 'main/images/light-grid/f1200x1000x150.jpg' %}"
            alt="Light duty1"
            class="card-img-top"
            style="height: 280px; object-fit: cover"            
            class="card-body"
          />
          <h5 class="card-title">
            Size ------ 1200 mm x 1000 mm x 140 mm ------ 
          </h5>
          <h5 class="card-title">Reinforced: 4 Bars:  Ground use only
          </h5>
          <div class="card-body">
            <h5 class="card-title">light duty grid</h5>
            <img
              src="{% static 'main/images/light-grid/4t-capacity-chart.jpg' %}"
              alt="Load Capacity Chart for Grid 4t"
              class="img-fluid w-100 mt-1"
              style="max-height: 80px; object-fit: contain"
            />
            <a
              href="https://wa.me/27713290606?text=Hi%20Plastic%20Pallets%20SA%2C%20I'm%20interested%20in%20the%20Light%20Grid%201."
              target="_blank"
              class="btn btn-success btn-lg w-100"
            >
              <i class="fab fa-whatsapp me-1"></i> Get Quote
            </a>
          </div>
        </div>
      </div>
      <!--6-->
      <div class="col-md-4">
        <div class="card border-0 shadow-sm h-100 hover-lift transition">
         <img
            src="{% static 'main/images/light-grid/mm1400x1400x145.jpg' %}"
            alt="Light duty1"
            class="card-img-top"
            style="height: 280px; object-fit: cover"            
            class="card-body"
          />
          <h5 class="card-title">
            Size ------ 1400 mm x 1400 mm x 145 mm ------ 
          </h5>
          <h5 class="card-title">Reinforced: 6 Bars:  Ground use only</h5>
          <div class="card-body">
            <h5 class="card-title">light duty grid</h5>
            <img
              src="{% static 'main/images/light-grid/4t-capacity-chart.jpg' %}"
              alt="Load Capacity Chart for Grid 4t"
              class="img-fluid w-100 mt-1"
              style="max-height: 80px; object-fit: contain"
            />
            <a
              href="https://wa.me/27713290606?text=Hi%20Plastic%20Pallets%20SA%2C%20I'm%20interested%20in%20the%20Light%20Grid%201."
              target="_blank"
              class="btn btn-success btn-lg w-100"
            >
              <i class="fab fa-whatsapp me-1"></i> Get Quote
            </a>
          </div>
        </div>
      </div>
      <!-- 7. Light Flat 3 -->
      <div class="col-md-4">
        <div class="card border-0 shadow-sm h-100 hover-lift transition">
         <img
            src="{% static 'main/images/light-grid/n1200x1000x140.jpg' %}"
            alt="Light duty1"
            class="card-img-top"
            style="height: 280px; object-fit: cover"            
            class="card-body"
          />
          <h5 class="card-title">
            Size ------ 1200 mm x 1000 mm x 140 mm ------ 
          </h5>
          <h5 class="card-title">Reinforced: 4 Bars:  Ground use only</h5>
          <div class="card-body">
            <h5 class="card-title">light duty grid</h5>
            <img
              src="{% static 'main/images/light-grid/4t-capacity-chart.jpg' %}"
              alt="Load Capacity Chart for Grid 4t"
              class="img-fluid w-100 mt-1"
              style="max-height: 80px; object-fit: contain"
            />
            <a
              href="https://wa.me/27713290606?text=Hi%20Plastic%20Pallets%20SA%2C%20I'm%20interested%20in%20the%20Light%20Grid%201."
              target="_blank"
              class="btn btn-success btn-lg w-100"
            >
              <i class="fab fa-whatsapp me-1"></i> Get Quote
            </a>
          </div>
        </div>
      </div>
      <!---8-->
      <div class="col-md-4">
        <div class="card border-0 shadow-sm h-100 hover-lift transition">
         <img
            src="{% static 'main/images/light-grid/o1200x1200x140.jpg' %}"
            alt="Light duty1"
            class="card-img-top"
            style="height: 280px; object-fit: cover"            
            class="card-body"
          />
          <h5 class="card-title">
            Size ------ 1200 mm x 1200 mm x 140 mm ------ 
          </h5>
          <h5 class="card-title">Reinforced: 4 Bars: Ground use only</h5>
          <div class="card-body">
            <h5 class="card-title">light duty grid</h5>
            <img
              src="{% static 'main/images/light-grid/4t-capacity-chart.jpg' %}"
              alt="Load Capacity Chart for Grid 4t"
              class="img-fluid w-100 mt-1"
              style="max-height: 80px; object-fit: contain"
            />
            <a
              href="https://wa.me/27713290606?text=Hi%20Plastic%20Pallets%20SA%2C%20I'm%20interested%20in%20the%20Light%20Grid%201."
              target="_blank"
              class="btn btn-success btn-lg w-100"
            >
              <i class="fab fa-whatsapp me-1"></i> Get Quote
            </a>
          </div>
        </div>
      </div>
      <!--9-->
      <div class="col-md-4">
        <div class="card border-0 shadow-sm h-100 hover-lift transition">
         <img
            src="{% static 'main/images/light-grid/p1400x1400x145.jpg' %}"
            alt="Light duty1"
            class="card-img-top"
            style="height: 280px; object-fit: cover"            
            class="card-body"
          />
          <h5 class="card-title">
            Size ------ 1400 mm x 1400 mm x 145 mm ------ 
          </h5>
          <h5 class="card-title">Reinforced: 4 Bars: Ground use only</h5>
          <div class="card-body">
            <h5 class="card-title">light duty grid</h5>
            <img
              src="{% static 'main/images/light-grid/4t-capacity-chart.jpg' %}"
              alt="Load Capacity Chart for Grid 4t"
              class="img-fluid w-100 mt-1"
              style="max-height: 80px; object-fit: contain"
            />
            <a
              href="https://wa.me/27713290606?text=Hi%20Plastic%20Pallets%20SA%2C%20I'm%20interested%20in%20the%20Light%20Grid%201."
              target="_blank"
              class="btn btn-success btn-lg w-100"
            >
              <i class="fab fa-whatsapp me-1"></i> Get Quote
            </a>
          </div>
        </div>
      </div>
</section>

{% endblock %}
